*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}



header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:1rem 2.5rem;
  background-color: #0d84e5;
}

.logo{
  color: white;
}

.navbar{
  display: flex;
  /* justify-content: space-between; */
  gap: 1rem;
}

.navbar a{
    color: white;

}

.hero{
  /* background-image: url('./assets/images/hero-bg.jpeg'); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
             url('./assets/images/hero-bg.jpeg');
}

.hero h2{
  color: white;
  font-size: 2.5rem;
}