@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Poppins:wght@400;600&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}



header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:1rem 2.5rem;
  background-color: #0d84e5;
}

.logo{
  color: white;
}

.navbar{
  display: flex;
  align-items: center;
  gap: 1rem;
}

.navbar a{
    color: white;
    font-size: 1rem;
}

.hero{
  /* background-image: url('./assets/images/hero-bg.jpeg'); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./assets/images/hero-bg.jpeg');
  color: white;
  padding: 5.5rem 2.5rem;

}

.hero h1{
  font-size: 4rem;
  max-width: 700px;
}

.hero p{
  font-size: 1.5rem;
  max-width: 700px;
  line-height:1.5;
}

.wallet{
  background-color: #031d31;
  outline: none;
  padding: 12px 1rem;
  border-radius: 8px;
  font-weight: bold;
  color: white;
  border: none;
  cursor: pointer;
}


.hero-buttons{
  display: flex;
  gap: 1.5rem;
  padding: 3.22rem 0;
}


.btn1, .btn2{
  background-color: #0d84e5;
  color: white;
  outline: none;
  padding: 1rem 2rem;
  border: none;
  border-radius: 5px;
  font-size: 1.25rem;
  font-weight: bold;
}

.btn2{
  background-color: rgb(167, 23, 71);
}


.product-container{
  background-image: url('./assets//images/productHero.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  color: #f4f9fc;
  padding:.5rem 2.5rem;
  align-items: center;
}

.text h1{
  font-size: 4rem;
}

.text p{
  font-size: 1rem;
  max-width: 800px;
}

.buy{
  /* background-color: #0d84e5; */
  background: linear-gradient(to left, rgba(13, 132, 229, 1), rgba(13, 132, 229, 0));
  border: none;
  padding: 10px 2rem;
  border-radius: 1rem;
  margin-top: 1.5rem;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  color: white;
}

.cart{
  height: 400px;
}

.product-image h2{
  text-align: center;
}

.product-image{
  padding: 2rem 5rem;
}

.product-card{
  padding-top: 2.5rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
  align-items: center;
  flex-wrap: wrap;
}

.product-box img{
  height: 120px;
}

.product-box{
  border: 2px solid rgb(215, 211, 211);
  border-radius: 8px;
  max-width: 270px;
  padding: 1rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.cart-btn{
  background-color: #031d31;
  color:white ;
  padding: 10px 1rem;
  border: none;
  margin-top: 12px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.cart-icon{
  font-size: 1.25rem;
}

.product-image h2{
  color: #031d31;
}


.add-product {
  max-width: 600px;
  margin: 4rem auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.add-product h2{
  text-align: center;
  margin-bottom: 1rem;
}
.form-input {
  margin-bottom: 15px;
}

.form-input label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-input input[type="text"],
.form-input input[type="number"],
.form-input input[type="url"],
.form-input textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.form-input input[type="file"] {
  padding: 3px; /* Adjust padding for file input */
}

.form-input textarea {
  resize: vertical; /* Allow vertical resizing */
}

.product-btn{
  background-color:#031d31; /* Green */
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}
